* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: black;
}
* ul,
* nav {
  list-style: none;
}
html {
  width: 100%;
}
html > body {
  width: 100%;
}
html #wangyi > footer {
  width: 100%;
  height: 120px;
  float: left;
  background: #f3f2f2;
}
html #wangyi > footer > .footerin {
  width: 1100px;
  height: 120px;
  margin: auto;
  position: relative;
  background: #f3f2f2;
}
html #wangyi > footer > .footerin > .copy {
  width: 490px;
  position: absolute;
  top: 30px;
}
html #wangyi > footer > .footerin > .copy > p {
  width: 100%;
  font-size: 12px;
}
html #wangyi > footer > .footerin > .copy > p > a {
  font-size: 12px;
  padding: 5px 0;
}
html #wangyi > footer > .footerin > .copy > p:nth-child(1) {
  float: left;
  color: #999999;
}
html #wangyi > footer > .footerin > .copy > p:nth-child(1) > a {
  color: #999999;
}
html #wangyi > footer > .footerin > .copy > p:nth-of-type(2) {
  float: left;
  color: #666666;
  margin-top: 10px;
}
html #wangyi > footer > .footerin > .copy > p:nth-of-type(2) > a {
  color: #666666;
}
html #wangyi > footer > .footerin > ul {
  height: 70px;
  position: absolute;
  right: 0;
  top: 30px;
}
html #wangyi > footer > .footerin > ul > li {
  width: 65px;
  float: left;
  margin-left: 20px;
}
html #wangyi > footer > .footerin > ul > li > a {
  width: 60px;
}
html #wangyi > footer > .footerin > ul > li > a > span {
  width: 60px;
  text-align: center;
  color: #999999;
}
html #wangyi > footer > .footerin > ul > li > a > span:nth-of-type(1) {
  opacity: 0.4;
  font-size: 50px;
  float: left;
}
html #wangyi > footer > .footerin > ul > li > a > span:nth-of-type(2) {
  font-size: 12px;
  float: left;
}
